{% load static %}
<nav class="navbar navbar-expand-lg transparent-navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="d-flex flex-column flex-lg-row justify-content-center w-100"> <!-- Responsive flex layout -->
                <a class="nav-link mb-2 mb-lg-0 me-lg-4" href="{% url 'profile' %}">Profile</a>
                <a class="nav-link mb-2 mb-lg-0 me-lg-4" href="{% url 'stats' %}">Stats</a>
                <a class="nav-link mb-2 mb-lg-0 me-lg-4" href="{% url 'friends' %}">Friends</a>
                <a class="nav-link mb-2 mb-lg-0" href="{% url 'match_history' %}">Match History</a>
            </div>
        </div>
    </div>
</nav>
