{% load static %}

<nav class="navbar navbar-expand-lg transparent-navbar">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="d-flex flex-row column-gap-3 justify-content-center w-100">
                <a class="nav-link mb-2 mb-lg-0 me-lg-4" 
                   data-ajax="true" 
                   href="{% url 'profile' %}">
                    Profile
                </a>
                <a class="nav-link mb-2 mb-lg-0 me-lg-4" 
                   data-ajax="true" 
                   href="{% url 'stats' %}">
                    Stats
                </a>
                <a class="nav-link mb-2 mb-lg-0 me-lg-4" 
                   data-ajax="true" 
                   href="{% url 'friends' %}">
                    Friends
                </a>
            </div>
        </div>
    </div>
</nav>
