<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<meta name="viewport"
			  content="width=device-width,
					   user-scalable=no,
					   initial-scale=1.0,
					   maximum-scale=1.0,
					   minimum-scale=1.0">
		<title>BMI</title>
	</head>
	<body>
		<h1>BMI Calculator</h1>
		<label for="height">Height (cm):
			<input type="text" name="height" id="height">
		</label>
		<label for="weight">Weight (kg):
			<input type="text" name="weight" id="weight">
		</label>
		<input type="button" id="calculate" value="Calculate">
		<div id="result"></div>

		<script>
			const WS = new WebSocket( "ws://{{ request.get_host }}/ws/bmi/" );
			WS.addEventListener( "message", (event) => {
					const _data = JSON.parse( event.data );
					switch ( _data.action ) {
					case "BMI result":
						document.getElementById( "result" )
							.innerHTML = _data.html;
						break ;
					}
				} );
			document.querySelector( "#calculate" )
				.addEventListener( 'click', () => {
						const height = parseFloat( document.querySelector( "#height" ).value );
						const weight = parseFloat( document.querySelector( "#weight" ).value );
						WS.send( JSON.stringify( {
										height: height,
										weight: weight
						} ) );
				} )
		</script>
	</body>
</html>
