<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,
		user-scalable=no,
		initial-scale=1.0,
		maximum-scale=1.0
		minimum-scale=1.0">
		<title>Index</title>
	</head>
	<body>
		<h1>D</h1>
		<h2 id="welcome"></h2>
		<script>
			const myWebSocket = new WebSocket( 
							"ws://{{ request.get_host }}/ws/echo/" );
			myWebSocket.addEventListener( "message", (event) => {
				document.querySelector( "#welcome" ).textContent = event.data } );
		</script>
	</body>
</html>
