{% load static %}

<!doctype html>
<html lang="{{ lang|default:'en' }}">
    {% include 'tr/components/_head.html' %}
    <body data-host="{{ request.get_host }}" data-scheme="{{ request.scheme }}" data-bs-theme="dark">
        {% include 'tr/components/_header.html' %}
        
        <main id="main" class="d-flex justify-content-center align-items-center" style="height: 100vh; text-align: center;">
            <div>
                <h1 class="display-3">Oops! Request Too Large</h1>
                <p class="lead">The request is larger than the server is willing or able to process. Max size 2MB</p>
                <a href="{% url 'profile' %}" class="btn btn-primary btn-lg mt-4">Go back to the profile page</a>
            </div>
        </main>
        {% include 'tr/components/_footer.html' %}
    </body>
</html>
