<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;url=/413/" />
    <title>Request Entity Too Large</title>
</head>
<body style="background-color: black; color: white; font-family: Arial, sans-serif;">
    <h1>413 - Request Entity Too Large</h1>
    <p>Your request is too large. You will be redirected to the error page shortly.</p>
    <p>If you are not redirected automatically, click <a href="/413/" style="color: #FFD700;">here</a>.</p>
</body>
</html>
