@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --bs-letter-spacing: 0.1em;
    --bs-body-font-family: "DotGothic16", sans-serif;
    --bs-dark-color: rgba(0, 0, 0, 0.966); /* changing the value dark for a black */
}

h1 {
    font-weight: 600;
    letter-spacing: var(--bs-letter-spacing);
}

body {
	min-height: 100vh;
}

main {
	min-height: 100vh;
    letter-spacing: var(--bs-letter-spacing);
}

.bg-dark {
    background-color: var(--bs-dark-color) !important;
}

.vertical {
    border-left: 6px dashed rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    left: 50%;
}
