<div class="vertical"></div>

<div class="container d-flex justify-content-center align-items-center position-relative">
  <div class="row justify-content-center align-items-center flex-nowrap" style="z-index: 3; position: relative; background-color: rgb(0, 0, 0);">
    <div class="d-flex flex-column align-items-center my-4">      
      <h1 class="text-white display-3 mb-4">Hello Guest</h1>
      <h3 class="text-white mb-4">Are you up for a game?</h3>
      <div class="d-flex flex-column justify-content-center align-items-center" style="z-index: 3; position: relative; background-color: rgb(0, 0, 0);">
        <button
        id="soloPlay"
        data-mode="solo_play"
        data-type="3d"
        data-players="Guest,Computer"
        class="btn btn-sm mt-3 px-4 py-3"
        style="font-size: 30px; background-color: rgb(159, 153, 153); border: none; border-radius: 15px;" >
        3D
        <i class="fa-regular fa-circle-play"></i>
        </button>
    </div>     
    </div>
  </div>
</div>
