{% if request.user.is_authenticated %}
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card card-3d">
          <div class="card-body p-5">
            <div class="game-card" style="position: relative; z-index: 3;">
              <h1 class="text-white text-center display-3">Ready to play?</h1>
              <div>
                <h2 class="text-white text-center">{{ request.user.username }} vs Computer</h2>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <button 
                    id="soloPlay"
                    data-mode="solo_play"
                    data-type="3d"
                    data-players="{{ request.user.username }},Computer"
                    class="btn btn-warning-3d btn-lg btn3d text-black mt-3 px-4 py-2 w-100">
                    <i class="icon-play-3d fa-regular fa-circle-play  fa-2x"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card card-3d">
          <div class="card-body p-5">
            <h1 class="text-white">READY TO PLAY?</h1>
            <h2 class="text-white">ONE PLAYER MODE</h2>
            <div class="d-grid gap-3">
              <!-- LOG IN Button -->
              <a href="{% url 'login' %}?next={% url 'tresD' %}" class="w-100">
                <button type="button" class="btn btn-warning-3d btn-lg btn3d text-black w-100">LOG IN</button>
              </a>
              <!-- PLAY AS GUEST Button -->
              <a href="{% url 'tresD_play' %}" class="w-100">
                <button type="button" class="btn btn-warning-3d btn-lg btn3d text-black w-100">PLAY AS GUEST</button>
              </a>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- 
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const body = document.body;
    body.style.background = "radial-gradient(circle, #ff9a9e, #fad0c4)";
    body.style.animation = "none";
  });
  </script>
   -->