<div class="mask d-flex align-items-center h-100 gradient-custom-3">
	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6">
				<div class="card" style="border-radius: 15px; background-color: transparent; border: none;">
					<div class="card-body p-5">
						<div class="d-grid gap-2 justify-content-center">
							<a href="{% url 'solo_play' %}"
							   class="btn btn-custom mx-3"
							   role="button"
							   data-ajax="true">
								SOLO PLAY
							</a>
							<a href="{% url 'double_play' %}"
							   class="btn btn-custom mx-3"
							   role="button"
							   data-ajax="true">
								DOUBLE PLAY
							</a>
							<a href="{% url 'tournament' %}"
							   class="btn btn-custom mx-3"
							   role="button"
							   data-ajax="true">
								TOURNAMENT
							</a>
							<a href="{% url 'tresD' %}"
							   class="btn btn-default btn-custom btn text-black mx-3"
							   role="button"
							   data-ajax="true">
								PONG 3D
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>