<h1 class="text-center mt-5">Password Reset</h1>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card text-center">
        <div class="card-body px-5">
          <p class="card-text py-2">
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
          </p>
          <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              There were errors with your submission. Please correct them and try again.
            </div>
            {% endif %}
			<div data-mdb-input-init class="form-outline">
				<input type="email" id="typeEmail" class="form-control my-3" placeholder="Email"/>
			</div>
            <input type="submit" class="btn btn-primary w-100" value="Reset my password">
        </div>
      </div>
    </div>
  </div>
</div>