  <div class="vertical"></div>
  <!-- VERTICAL LINE -->
  <div
    class="container d-flex justify-content-center align-items-center"
    style="min-height: 100vh; position: relative"
  >
    <div
      class="bg-dark row justify-content-center align-items-center flex-nowrap"
      style="z-index: 1; position: relative"
    >
      <div class="d-flex flex-column align-items-center my-4">
        <h1 class="text-white display-3 mb-4">Hello Anonymous</h1>
        <a href="{% url 'pong' %}" class="text-decoration-none">
          <div class="text-white">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="96"
              height="96"
              fill="currentColor"
              class="bi bi-play-circle-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z"
              />
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
