{% if request.user.is_authenticated %}
<div class="vertical"></div>
<div class="container d-flex justify-content-center align-items-center full-height-container">
  <div class="row justify-content-center align-items-center flex-nowrap text-center"
       style="z-index: 3; background-color: rgba(0, 0, 0, 0.7);">
    <div class="d-flex flex-column align-items-center my-4">
      <h1 class="text-white display-3">Ready to play?</h1>
      <h2 class="text-white">{{ request.user.username }} vs Computer</h2>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <button
          id="soloPlay"
          data-mode="solo_play"
          data-type="3d"
          data-players="{{ request.user.username }},Computer"
          class="btn btn-sm mt-3 px-4 py-3"
          style="font-size: 30px; background-color: rgb(159, 153, 153); border: none; border-radius: 15px;">
          3D
          <i class="fa-regular fa-circle-play"></i>
        </button>
        <button
          id="soloPlay"
          data-mode="solo_play"
          data-type="2d"
          data-players="{{ request.user.username }},Computer"
          class="btn btn-sm my-3 px-4 py-3"
          style="font-size: 30px; background-color: rgb(49, 99, 209); border: none; border-radius: 15px;">
          2D
          <i class="fa-solid fa-circle-play"></i>
        </button>
      </div>
    </div>
  </div>
</div>


{% else %}
<div class="position-absolute top-50 start-50 translate-middle text-center">
  <div class="d-flex flex-column align-items-center text-center">
    <h1 class="text-white mb-4">READY TO PLAY?</h1>
    <h2 class="text-white mb-4">ONE PLAYER MODE</h2>
    <div class="d-grid gap-3 w-100">
      <a href="{% url 'login' %}?next={% url 'solo_play' %}" 
          class="btn btn-light btn-lg w-100" role="button">LOG IN</a>            
      <a href="{% url 'play' %}" 
          id="anonymousLink" 
          class="btn btn-secondary btn-lg w-100" 
          role="button">PLAY AS GUEST</a>
    </div>
  </div>
</div>
{% endif %}
