<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card">
          <div class="card-body p-5">

            <h2>Enter Number of Participants</h2>

            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="num_participants" 
                       class="form-label">Number of Participants</label>
                <input type="number" 
                       name="num_participants"               
                       id="num_participants" 
                       class="form-control" min="1" max="100" required>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg w-100">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
