{% load static %}

<h1>Profile</h1>

{% if request.user.is_authenticated %}

	<div class="avatar-container">
		<img src="{% static 'assets/thumbnail.png' %}" class="img-thumbnail" alt="..." style="width: 64px;">
	</div>

	<form>
		<fieldset disabled>
			<div class="mb-3">
				<label for="user" class="form-label">
					Username
				</label>
				<input id="user"
					   type="text"
					   aria-label="Username"
					   class="form-control"
					   placeholder="{{ user.username }}">
				<label for="date" class="form-label">
					Date joined
				</label>
				<input id="date"
					   type="text"
					   aria-label="date-joined"
					   class="form-control"
					   placeholder="{{ user.date_joined }}">
		</fieldset>
		<fieldset>
				<label for="firstname" class="form-label">
					First name
				</label>
				<input id="firstname"
					   type="text"
					   aria-label="Username"
					   class="form-control"
					   placeholder="{{ user.username }}">
				<label for="lastname" class="form-label">
					Last name
				</label>
				<input id="lastname"
					   type="text"
					   aria-label="Username"
					   class="form-control"
					   placeholder="{{ user.username }}">

				<label for="avatar" class="form-label">
					Avatar
				</label>
				<input id="avatar"
					   type="file"
					   aria-label="date-joined"
					   class="form-control"
					   placeholder="">
			</div>
		</fieldset>

	</form>

	{% if user.friends %}
	<ul class="list-group">
		<li class="list-group-item"></li>
		<li class="list-group-item">A second item</li>
		<li class="list-group-item">A third item</li>
		<li class="list-group-item">A fourth item</li>
		<li class="list-group-item">And a fifth one</li>
	</ul>
	{% endif %}

{% endif %}
