{% load static %}

<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{{ title | default:"FUcking POng@!" }}</title>
  </head>

  <body class="bg-dark text-white">
  {% block header %}
  <header>
    <div class="position-absolute top-0 end-0 p-3">
      <button class="btn btn-light btn-lg mx-3" type="button">LOG IN</button>
    </div>
  </header>
  {% endblock header %}
  {% block main %}{% endblock main %}
  {% block footer %}{% endblock footer %}
  <script>
  document.addEventListener('DOMContentLoaded', function (){
  // const homeUrl = window.location.origin + '/'; // Adjust this if your home URL is different
  // history.replaceState({ url: window.location.href }, '', window.location.href);
  document.querySelectorAll('a[data-ajax=true]').forEach(function (link) {
  //htmx probar 
  link.addEventListener('click', function (event) {
    event.preventDefault(); 
    var url = this.getAttribute('href');
    fetch(url)
      .then(response => response.text())
      .then(data => {
        var parser = new DOMParser();
        var doc = parser.parseFromString(data, 'text/html');
        var newContent = doc.querySelector('main').innerHTML;
        document.getElementsByTagName('main')[0].innerHTML = newContent;
        // history.pushState(null, '', url);
        })
      .catch(error => {
        console.error('Error loading content: ', error);
      });
      });
    });
  });
  // window.addEventListener('popstate', function(event) {
  //   var url = event.state ? event.state.url : homeUrl;
  //   fetch(url)
  //     .then(response => response.text())
  //     .then(data => {
  //       var parser = new DOMParser();
  //       var doc = parser.parseFromString(data, 'text/html');
  //       var newContent = doc.querySelector('main').innerHTML;
  //       document.querySelector('main').innerHTML = newContent;
  //     })
  //     .catch(error => {
  //       console.error('Error loading content: ', error);
  //     });
  // });
  
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</body>
</html>
