{% extends "base.html" %}

{% block header %}

<header>
</header>
<nav>
	<div class="position-absolute top-0 end-0 p-3">
		{% if user.is_authenticated %}
		{% include "components/button.html" with href="user" innerHTML="{{ user.username }}" %}
		{% else %}
		{% include "components/button.html" with href="login" innerHTML="LOG IN" %}
		{% endif %}
	</div>
</nav>

{% endblock header %}

{% block main %}

<main class="bg-dark text-white d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row mt-4 justify-content-center">
        <div class="col-12">
          <h1 class="text-center mb-4 display-1">PONG GAME</h1>
        </div>
        <div class="col-12">
          <div class="d-grid gap-2 justify-content-center align-content-center">
			{% include "components/button.html" with href="play" innerHTML="SOLO" %}
			{% include "components/button.html" with href="tournament" innerHTML="MULTIPLAYER" %}
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock main %}
