{% extends "base.html" %} {% block main %}
<main
  class="bg-dark text-white d-flex flex-column justify-content-center align-items-center"
  style="min-height: 100vh"
>
  <div class="container">
    <div class="row mt-4 justify-content-center">
      <div class="col-12">
        <h1 class="text-center mb-4 display-1">PONG GAME</h1>
      </div>
      <div class="col-12">
        <div class="d-grid gap-2 justify-content-center align-content-center">
          <a
            href="{% url 'solo_play' %}"
            class="btn btn-light btn-lg mx-3"
            role="button"
            data-ajax="true"
            >SOLO PLAY</a
          >
          <a
            href="{% url 'double_play' %}"
            class="btn btn-light btn-lg mx-3"
            role="button"
            data-ajax="true"
            >DOUBLE PLAY</a
          >
          <a
            href="{% url 'tournament' %}""
            class="btn btn-light btn-lg mx-3"
            role="button"
            data-ajax="true"
            >TOURNAMENT</a
          >
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock main %}
