{% load static %}

<!doctype html>
<html lang="{{ lang | default:'en' }}">

	{% include 'app/components/_head.html' %}

	<body data-host="{{ request.get_host }}" data-scheme="{{ request.scheme }}"
		data-bs-theme="dark">

		{% include 'app/components/_header.html' %}

		<main id="main"
			  class="d-flex flex-column justify-content-center align-items-center"
			  style="min-height: 100vh">

			{% include page %}

		</main>

		{% include 'app/components/_footer.html' %}
	
		<script defer src="{% static 'js/bundle.js' %}"></script>

	</body>
</html>
